<canvas id="login_confetti" class="absolute top-0 left-0 right-0 -z-0"></canvas>
<ng-lottie
  class="absolute left-0 right-0 top-0 -z-30 bottom-0"
  containerClass="mx-auto my-0 h-screen w-screen"
  [options]="ballonOptions"
/>

<div class="container max-w-xl mx-auto h-full">
  <div class="h-full flex flex-col justify-between py-10 relative">
    <div>
      <app-header></app-header>
      <img
        src="LOGO-ANNIVERSAIRE.png"
        class="-mt-3 h-72 mx-auto left-0 right-0 animate-bounce transform hover:scale-150"
        alt="logo-60"
      />
    </div>

    <form [formGroup]="loginForm" (ngSubmit)="logInUser()">
      <div class="flex flex-col space-y-4 text-center">
        <app-input
          id="matricule"
          label="Numéro Matricule"
          size="large"
          placeholder="Numéro matricule"
          [block]="true"
          name="matricule"
          formControlName="matricule"
          [isDisabled]="isLoading"
          [required]="true"
          [errorMesage]="
            isControlInvalid('matricule') ? 'Matricule obligatoire' : ''
          "
        ></app-input>
        <app-input
          id="password"
          label="Mot de passe"
          size="large"
          placeholder="Mot de passe"
          [block]="true"
          type="password"
          name="password"
          formControlName="password"
          [isDisabled]="isLoading"
          [required]="true"
          [errorMesage]="
            isControlInvalid('password') ? 'Mot de passe obligatoire' : ''
          "
        ></app-input>
        <div class="space-x-2">
          <app-button
            btnType="submit"
            variant="secondary"
            label="Se Connecter"
            [disabled]="isLoading"
            (onclick)="logInUser()"
            iconName="scan-face"
            [showIcon]="true"
            [isLoading]="isLoading"
          ></app-button>
          <app-button
            variant="primary"
            iconName="medal"
            [showIcon]="true"
            label="Classement"
            routerLink="/rank"
            [disabled]="isLoading"
          ></app-button>
        </div>
      </div>
    </form>
  </div>
</div>
