<canvas id="login_confetti" style="position: fixed; top: 0; left: 0"></canvas>
<div class="container max-w-xl mx-auto h-screen">
  <div class="h-full flex flex-col justify-around">
    <app-header></app-header>
    <form [formGroup]="loginForm" (ngSubmit)="logInUser()">
      <div class="flex flex-col space-y-4 text-center">
        <app-input
          id="email"
          label="Adresse Email"
          size="large"
          placeholder="Entrez votre email"
          [block]="true"
          name="email"
          formControlName="email"
          [required]="true"
        ></app-input>
        <app-input
          id="password"
          label="Mot de passe"
          size="large"
          placeholder="Entrez votre mot de passe"
          [block]="true"
          type="password"
          name="password"
          formControlName="password"
          [required]="true"
        ></app-input>
        <div class="space-x-4">
          <app-button
            variant="secondary"
            label="Se Connecter et commencer"
            ty
            (onClick)="logInUser()"
          ></app-button>
          <app-button
            variant="primary"
            label="Créer un compte"
            routerLink="/auth/register"
            (onClick)="navigateToRoute('/auth/register')"
          ></app-button>
        </div>
      </div>
    </form>
  </div>
</div>


<!-- <div class="mx-auto text-center">
  <p class="text-7xl mx-auto text-center text-green-400">Authentification</p>
  <p class="text-7xl mx-auto text-center text-orange-400">60 ans</p>
  <div class="flex flex-row space-x-5 mx-auto w-full justify-center mb-7">
    <app-button variant="secondary" label="Histoire de fratmat"></app-button>
    <app-button label="Commencer le Quiz"></app-button>
  </div>
  <div class="flex flex-row space-x-5 mx-auto w-full justify-center mb-7">
    <app-input size="small" placeholder="text"></app-input>
    <app-input size="medium"></app-input>
    <app-input size="large"></app-input>
    <app-input type="date" size="large"></app-input>
  </div>
</div> -->
