<h1 class="text-2xl text-center lg:text-3xl font-bold mb-5 text-slate-800">
  Conditions Générales d'Utilisation
</h1>
<div
  class="container mx-auto p-5 text-slate-800 h-3/4 md:h-96 overflow-y-auto border-4 shadow-inner bg-white"
>
  <section class="mb-5">
    <h2 class="text-xl lg:text-2xl font-semibold">1. DESCRIPTION DU JEU</h2>
    <p class="font-mont">
      Dans le cadre de la célébration de nos 60 ans, nous avons le plaisir de
      vous inviter à participer à un quiz en ligne. Ce quiz est une occasion
      ludique de tester vos connaissances sur notre entreprise et de revivre
      ensemble les moments clés de notre histoire.
    </p>
  </section>

  <section class="mb-5">
    <h2 class="text-xl lg:text-2xl font-semibold">2. COMMENT JOUER?</h2>
    <div class="font-mont">
      <ul class="list-disc">
        <li>
          L’agent se connecte au réseau internet local LAN à partir de son
          ordinateur de travail ou de son smartphone
        </li>
        <li>
          Il est invité à saisir son MATRICULE et le MOT DE PASSE de sa session
          Windows
        </li>
        <li>L’utilisateur ne pourra jouer qu’une seul fois par jour,</li>
        <li>
          Au début ou à la fin de chaque Quiz, le joueur pourra consulter la
          liste les 10 premiers gagnant de la semaine.
        </li>
      </ul>
    </div>
  </section>

  <section class="mb-5">
    <h2 class="text-xl lg:text-2xl font-semibold">
      3. PRINCIPE DE RECOMPENSES
    </h2>
    <div class="font-mont">
      <ul class="list-disc">
        <li>
          Les récompenses se feront de façon hebdomadaire (chaque vendredi à
          l’issue des matchs du tournoi de football)
        </li>
        <li>
          Un agent ayant participé et gagné un lot, n’est plus éligible aux autres lots.
        </li>
        <li>
          L’agent qui aura cumulé plus de point sur la période hebdomadaire sera récompensé.
        </li>
      </ul>
    </div>
  </section>

  <section class="mb-5">
    <h2 class="text-xl lg:text-2xl font-semibold">4. CRITERES D’ELIGIBILITE/ CONDITIONS POUR PARTICIPER AU JEU</h2>
    <div class="font-mont">
      <ul class="list-disc">
        <li>
          Être un agent du Groupe Fraternité Matin
        </li>
        <li>
          Disposer d’un ordinateur ou smartphone connecté au réseau internet local du domaine « groupefratmat.info ».
        </li>
        <li>
          Être inscrit sur le domaine informatique de la DSI avec son matricule et un mot de passe Windows.
        </li>
      </ul>
    </div>
  </section>

  <section class="mb-5">
    <h2 class="text-xl lg:text-2xl font-semibold">5. SYSTEME DU JEU</h2>
    <div class="font-mont">
      <ul class="list-disc">
        <li>
          Le jeu offre 10 questions par jour : Chaque agent a donc droit à 10 questions par jour.
        </li>
        <li>
          Les points sont cumulés par bonnes réponses et chaque bonne réponse est notée sur 1
        </li>
        <li>
          Pour avoir de meilleurs scores les participants sont appelés à jouer chaque jour de la semaine, du lundi au vendredi 18h30.
        </li>
      </ul>
    </div>
  </section>

  <footer class="mt-10 text-center">
    <p class="font-mont">&copy; 2024 Fratmat. Tous droits réservés.</p>
  </footer>
</div>

<div class="mx-auto w-fit py-2">
  <app-button
    variant="secondary"
    label="Accepter et continuer"
    (click)="handleAcceptCgu()"
  ></app-button>
</div>
