<h1 class="text-2xl text-center lg:text-3xl font-bold mb-5 text-slate-800">
  Conditions Générales d'Utilisation
</h1>
<div
  class="container mx-auto p-5 text-slate-800 h-3/4 md:h-96 overflow-y-auto border-4 shadow-inner bg-white"
>
  <section class="mb-5">
    <h2 class="text-xl lg:text-2xl font-semibold">1. PRINCIPE DU JEU</h2>
    <p class="font-mont">
      Dans le cadre de la célébration de nos 61 ans, nous avons le plaisir de
      vous inviter à participer à un quiz en ligne
      <span class="font-bold"
        >du 1er décembre au 05 décembre 2025. Soit 05 jours.</span
      >
      Ce quiz est une occasion ludique de tester vos connaissances sur notre
      entreprise et de revivre ensemble les moments clés de notre histoire.
    </p>
  </section>

  <section class="mb-5">
    <h2 class="text-xl lg:text-2xl font-semibold">2. COMMENT JOUER?</h2>
    <div class="font-mont">
      <ul class="list-disc">
        <li>
          L’agent se connecte au réseau internet local LAN à partir de son
          ordinateur de travail ou de son smartphone
        </li>
        <li>
          Il est invité à saisir son <span class="font-bold">MATRICULE</span> et
          le <span class="font-bold">MOT DE PASSE</span> de sa session Windows
        </li>
        <li>
          L’utilisateur ne pourra jouer
          <span class="font-bold">qu’une seule fois par jour</span>,
        </li>
        <li>
          Au début ou à la fin de chaque Quiz, le joueur pourra consulter la
          liste les 10 premiers gagnant de la semaine.
        </li>
      </ul>
    </div>
  </section>

  <section class="mb-5">
    <h2 class="text-xl lg:text-2xl font-semibold">
      3. PRINCIPE DE RECOMPENSES
    </h2>
    <div class="font-mont">
      <ul class="list-disc">
        <li>
          Les récompenses se feront le
          <span class="font-bold">mardi 09 décembre 2025</span>, à l’occasion du
          déjeuner d’ anniversaire prévu
        </li>
        <li>
          L’agent qui aura cumulé le
          <span class="font-bold">plus de points</span> sur la période du jeu
          sera récompensé.
        </li>
      </ul>
    </div>
  </section>

  <section class="mb-5">
    <h2 class="text-xl lg:text-2xl font-semibold">
      4. CRITERES D’ELIGIBILITE/ CONDITIONS DE PARTICIPATION
    </h2>
    <div class="font-mont">
      <ul class="list-disc">
        <li>Être un agent du Groupe Fraternité Matin</li>
        <li>
          Disposer d’un ordinateur ou smartphone
          <span class="font-bold"
            >connecté au réseau internet local du domaine
            «groupefratmat.info»</span
          >.
        </li>
        <li>
          Être inscrit sur le domaine informatique de la DSI avec son matricule
          et un mot de passe Windows.
        </li>
      </ul>
    </div>
  </section>

  <section class="mb-5">
    <h2 class="text-xl lg:text-2xl font-semibold">5. SYSTEME DU JEU</h2>
    <div class="font-mont">
      <ul class="list-disc">
        <li>
          <!-- Le jeu offre 10 questions par jour:  -->
          Chaque agent a donc droit à
          <span class="font-bold">10 questions par jour</span>.
        </li>
        <li>
          L'agent dispose de <span class="font-bold">10 secondes</span> pour
          répondre à chaque question.
        </li>
        <li>
          Les points sont cumulés par bonne réponse et chaque bonne réponse est
          notée sur 1 point.
        </li>
        <li>
          Pour avoir de meilleurs scores les participants sont appelés à jouer
          chaque jour de la semaine, du
          <span class="font-bold">lundi au vendredi</span>.
        </li>
      </ul>
    </div>
  </section>

  <footer class="mt-10 text-center">
    <p class="font-mont">&copy; 2025 Fratmat. Tous droits réservés.</p>
  </footer>
</div>

<div class="mx-auto w-fit py-2">
  <app-button
    variant="secondary"
    label="Accepter et continuer"
    (click)="handleAcceptCgu()"
  ></app-button>
</div>
