<h1 class="text-3xl font-bold mb-5 text-slate-800">
  Conditions Générales d'Utilisation
</h1>
<div
  class="container mx-auto p-5 text-slate-800 h-96 overflow-y-auto border-4 shadow-inner bg-white"
>
  <section class="mb-5">
    <h2 class="text-2xl font-semibold">1. Introduction</h2>
    <p class="font-mont">
      Bienvenue sur Fratmat. En utilisant notre application de quiz, vous
      acceptez de respecter ces conditions générales d'utilisation.
    </p>
  </section>

  <section class="mb-5">
    <h2 class="text-2xl font-semibold">2. Utilisation de l'Application</h2>
    <p class="font-mont">
      Vous vous engagez à utiliser l'application Fratmat conformément à la
      législation en vigueur. Toute utilisation abusive ou illégale peut
      entraîner la suspension de votre compte.
    </p>
  </section>

  <section class="mb-5">
    <h2 class="text-2xl font-semibold">3. Propriété Intellectuelle</h2>
    <p class="font-mont">
      Tous les contenus, y compris les textes, graphiques et logos, sont la
      propriété de Fratmat. Aucune reproduction ou utilisation de ces contenus
      n'est autorisée sans notre accord préalable.
    </p>
  </section>

  <section class="mb-5">
    <h2 class="text-2xl font-semibold">4. Responsabilité</h2>
    <p class="font-mont">
      Fratmat ne saurait être tenu responsable des dommages directs ou indirects
      résultant de l'utilisation de l'application. Vous utilisez l'application à
      vos propres risques.
    </p>
  </section>

  <section class="mb-5">
    <h2 class="text-2xl font-semibold">5. Modifications des CGU</h2>
    <p class="font-mont">
      Fratmat se réserve le droit de modifier ces conditions à tout moment. Les
      utilisateurs seront informés des changements via l'application.
    </p>
  </section>

  <section class="mb-5">
    <h2 class="text-2xl font-semibold">6. Contact</h2>
    <p class="font-mont">
      Pour toute question concernant ces CGU, veuillez nous contacter à
      l'adresse suivante :
      <a href="mailto:contact@fratmat.com">contact&#64;groupefratmat.info</a>
    </p>
  </section>

  <footer class="mt-10 text-center">
    <p class="font-mont">&copy; 2024 Fratmat. Tous droits réservés.</p>
  </footer>
</div>

<div class="mx-auto w-fit py-2">
  <app-button
    variant="secondary"
    label="Accepter et continuer"
    (onClick)="handleAcceptCgu()"
  ></app-button>
</div>
