<div class="container max-w-xl mx-auto h-screen">
  <div class="h-full flex flex-col justify-center">
    <div class="h-[96vh] rounded-lg bg-opacity-95 bg-transparent px-10 py-4">
      <app-header></app-header>
      <div class="flex-1 flex flex-col">
        <div class="text-center mx-auto my-4">
          <span class="text-3xl"> Inscription pour le quiz </span>
          <p class="font-mont">
            Veuillez saisir vos informations pour créer votre compte
          </p>
        </div>

        <div class="flex flex-col space-y-4 text-center">
          <app-input
            id="nom"
            label="Votre nom"
            size="large"
            placeholder="Saisissez votre nom"
            [block]="true"
          ></app-input>
          <app-input
            id="prenoms"
            label="Votre prénom"
            size="large"
            placeholder="Saisissez votre prénom"
            [block]="true"
          ></app-input>
          <app-input
            id="telephone"
            label="Votre téléphone"
            size="large"
            placeholder="Saisissez votre téléphone"
            [block]="true"
            type="tel"
          >
          </app-input>
          <app-input
            id="mot de passe"
            label="Votre mot de passe"
            size="large"
            placeholder="Entrez votre mot de passe"
            [block]="true"
            type="password"
          ></app-input>

          <div class="space-x-4">
            <app-button
              variant="primary"
              label="Créer mon compte et commencer"
              (onclick)="handleNavigate('/quiz')"
            ></app-button>
            <app-button
              variant="danger"
              label="Annuler"
              (onclick)="handleNavigate('/')"
            ></app-button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
