<div class="login_header text-center flex flex-col">
  <div class="relative -mb-6">
    <span class="text-white text-7xl text-shadow-lg drop-shadow-lg shadow-orange-400">Fratmat</span>
    <span
      class="text-orange-500 text-6xl absolute left-0 right-0 top-10 text-shadow-lg"
      >Quiz</span
    >
  </div>
  <svg class="h-auto">
    <text
      x="50%"
      y="50%"
      dy=".35em"
      text-anchor="middle"
      class="text-5xl md:text-7xl lg:text-8xl shadow-lg shadow-orange-500"
    >
      anniversaire
    </text>
  </svg>
</div>

