<button
  class="w-full row-span-1 bg-white text-slate-950 -skew-x-12 flex flex-row text-3xl transform hover:translate-x-1 group hover:bg-orange-500 transition-all ease-in-out"
>
  <div class="bg-green-500 text-white h-14 w-14 px-3 py-3">
    <input
      type="checkbox"
      class="option-card border-none outline-none w-full h-full appearance-none bg-white m-0 ring-4 ring-black transform before:content-[''] before:w-7 before:h-6 before:bg-orange-500 before:scale-0 grid place-content-center checked:before:scale-100 before:transition-all before:ease-in-out before:cli"
    />
  </div>
  <div class="flex-1 text-left py-2 px-3 group-hover:text-white">
    {{ label }}
  </div>
</button>
