<div class="flex flex-col items-start">
  <label *ngIf="showLabel" [for]="id" class="font-mont font-bold">{{
    label
  }}</label>
  <input
    [id]="id"
    [ngClass]="{
    'text-md':size ==='small',
    'text-lg':size ==='medium',
    'text-3xl':size ==='large',
    'w-full':block ===true,
  }"
    [type]="type"
    [placeholder]="placeholder"
    (input)="onInput($event)"
    class="focus:outline-none transform -skew-x-12 text-black px-3 py-1 ring-2 ring-gray-700 ring-inset tracking-wider focus:ring-orange-500 hover:ring-orange-300 transition-all ease-in-out uppercase"
  />
</div>
