<canvas id="login_confetti" style="position: fixed; top: 0; left: 0"></canvas>
<div class="container max-w-6xl mx-auto py-5 space-y-5">
  <app-quiz-header></app-quiz-header>
  <!-- <app-header></app-header> -->

  <div class="container max-w-4xl mx-auto">
    <div *ngIf="showCountdown">
      <div class="absolute left-0 right-0 mx-auto text-center text-3xl">
        Démarage du quiz dans...
      </div>
      <ng-lottie
        class=""
        width="40vw"
        containerClass="mx-auto h-52 my-auto"
        [options]="options"
        (animationCreated)="animationCreated($event)"
        (complete)="onComplete($event)"
      />
    </div>

    <div *ngIf="!showCountdown">
      <!-- <p class="textlg lg:text-4xl text-center">Célébrons Fraternité Matin</p> -->
      <!-- <img src="LOGO-ANNIVERSAIRE.png" class="h-80 mx-auto animate-bounce" alt="logo-60" /> -->
      <!--Consignes rapides  -->
      <div class="mb-10">
       <div
        class="text-center outline-dashed outline-offset-8 text-xl lg:text-5xl text-clip bg-green-500 w-fit mx-auto px-8 transform -skew-x-12"
      >
          AVANT DE COMMENCER
        </div>
        <div
          class="bg-white rounded-md ring-8 ring-green-500 text-center py-4 text-black drop-shadow-lg shadow-lg shadow-green-400"
        >
          <ul class="list-disc list-inside space-y-3 text-lg lg:text-2xl">
            <li>Chaque question vaut un <span class="text-green-600">(1) point.</span></li>
            <li>
              Vous avez <span class="text-green-600">dix (10) secondes</span> pour répondre <span class="text-green-600">à chaque question.</span>
            </li>
            <li>
              Une fois le temps écoulé, la question suivante s'affichera
              automatiquement.
            </li>
            <li>Vous ne <span class="text-green-600">pouvez pas revenir</span> aux questions précédentes.</li>
            <li>À la fin du quiz, votre score s'affichera.</li>
          </ul>
        </div>
      </div>
      <p class="textlg lg:text-5xl text-center">êtes-vous prêt?</p>
      <div
        *ngIf="!showCountdown"
        class="flex flex-row space-x-2 justify-center mt-10"
      >
        <app-button
          variant="secondary"
          label="Oui, Commencer !!!"
          [disabled]="isLoadingQuestionsCocher || isLoadingQuestionsTampon"
          (click)="switchToCountDown()"
        ></app-button>
        <app-button
          variant="danger"
          label="Quitter"
          [disabled]="isLoadingQuestionsCocher || isLoadingQuestionsTampon"
          (click)="handleLogout()"
        ></app-button>
      </div>
    </div>
  </div>
</div>
