<canvas id="login_confetti" style="position: fixed; top: 0; left: 0"></canvas>
<div class="container max-w-6xl mx-auto py-5 space-y-5">
  <app-quiz-header></app-quiz-header>
  <!-- <app-header></app-header> -->

  <div class="container max-w-4xl mx-auto">
    <div *ngIf="showCountdown">
      <div class="absolute left-0 right-0 mx-auto text-center text-3xl">
        Démarage du quiz dans...
      </div>
      <ng-lottie
        class=""
        width="40vw"
        containerClass="mx-auto h-52 my-auto"
        [options]="options"
        (animationCreated)="animationCreated($event)"
        (complete)="onComplete($event)"
      />
    </div>

    <div *ngIf="!showCountdown">
      <p class="textlg lg:text-4xl text-center">Célébrons les</p>
      <img src="LOGO-ANNIVERSAIRE.png" class="h-80 mx-auto" alt="logo-60" />
      <p class="textlg lg:text-4xl text-center">de Fraternité Matin</p>
      <div
        *ngIf="!showCountdown"
        class="flex flex-row space-x-2 justify-center mt-10"
      >
        <app-button
          variant="secondary"
          label="Commencer !!!"
          [disabled]="isLoadingQuestionsCocher || isLoadingQuestionsTampon"
          (click)="switchToCountDown()"
        ></app-button>
        <app-button
          variant="danger"
          label="Quitter"
          [disabled]="isLoadingQuestionsCocher || isLoadingQuestionsTampon"
          (click)="handleLogout()"
        ></app-button>
      </div>
    </div>
  </div>
</div>
