<!-- Quiz header -->
<div class="container">
  <div class="flex flex-row justify-between">
    <div><img src="LOGO-60ANS.png" class="h-20" alt="logo-60" /></div>

    <!-- User Infos -->
    <div class="flex flex-row items-center space-x-3">
      <img
        src="https://avatar.iran.liara.run/public/boy"
        alt="user_avatar"
        class="h-14 w-14 rounded-full ring-4 ring-white ring-offset-2"
      />
      <div class="textora">
        <div class="text-3xl">
          {{ (authUser$ | async)?.nom }} {{ (authUser$ | async)?.prenoms }}
        </div>
        <p class="px-2 bg-orange-500 w-fit -skew-x-12 tracking-wider">
          1250 points
        </p>
      </div>
    </div>
  </div>
</div>
