@import "@fontsource/bangers/index.css";
@import "@fontsource-variable/montserrat/index.css";
@import "@angular/cdk/overlay-prebuilt.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* background: rgb(10, 31, 0, 0.1), url("assets/bg_main.webp") no-repeat; */
  font-family: "Bangers", system-ui, sans-serif;

  color: white;
  --primary-color: rgb(10, 31, 0);
}

* {
  cursor: url("assets/fm-cursor.png"), auto;
}

body {
  background: linear-gradient(rgb(10, 31, 0, 0.9), rgb(10, 31, 0)),
    url("assets/bg_main.webp") no-repeat center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  box-sizing: border-box;
  margin: 0px; overflow-x: hidden;
}

.font-mont {
  font-family: "Montserrat Variable", sans-serif;
}

.cdk-overlay-dark-backdrop {
  background-color: rgba(0, 0, 0, 0.6);
}
.modal-panel {
  display: flex;
  justify-content: center;
  align-items: center;
}
